@use "../themes.scss" as th;

.button {
  @include th.themify(th.$themes) {
    background-color: th.themed("buttonBg");
    color: th.themed("buttonTextColor");
    border: 1px solid th.themed("buttonBorder");
  }

  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  overflow: hidden;
  transition:
    background-color 0.1s ease-in-out,
    color 0.1s ease-in-out;
  text-align: center;
  width: max-content;

  &:hover {
    @include th.themify(th.$themes) {
      background-color: th.themed("buttonBgHover");
      color: th.themed("buttonTextColorHover");
      border: 1px solid th.themed("buttonBorderHover");
    }
  }

  &:active {
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
  }

  span {
    margin: 10px;
  }
}

.button_icon {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
