@use "../variables" as *;
@use "../themes" as th;

.toggle_content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputToggle {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  @include th.themify(th.$themes) {
    box-shadow:
      0px 0px 0px 4px th.themed("inputToggleShad1"),
      0px 0px 0px 6px $primary;
  }

  transition: 200ms all;
  cursor: pointer;
  overflow: hidden;
  flex-shrink: 0;
}

.checkBox {
  @extend .inputToggle;
}

.radioLabel {
  @extend .inputToggle;
}

.inputToggle input[type="checkbox"],
.inputToggle input[type="radio"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  width: 40px;
  height: 40px;

  @include th.themify(th.$themes) {
    background-color: th.themed("inputToggleBg");
  }
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
  transition: 300ms ease;
}

.inputToggle input:checked + .transition {
  left: -10px;
  top: -10px;
}
