@use "../themes" as th;

.toggle_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: max-content;
  height: 32px;

  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;

  &:hover {
    @include th.themify(th.$themes) {
      background-color: th.themed("accent-second");
    }
  }
}

.inputToggle {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;

  transition: 200ms all;
  cursor: pointer;
  overflow: hidden;
  flex-shrink: 0;

  @include th.themify(th.$themes) {
    box-shadow:
      0px 0px 0px 4px th.themed("main"),
      0px 0px 0px 6px th.themed("accent");
    background-color: th.themed("main");
  }
}

.checkBox,
.radioLabel {
  @extend .inputToggle;
}

.inputToggle input[type="checkbox"],
.inputToggle input[type="radio"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  width: 40px;
  height: 40px;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
  transition: 300ms ease;

  @include th.themify(th.$themes) {
    background-color: th.themed("secondary");
  }
}

.inputToggle input:checked + .transition {
  left: -10px;
  top: -10px;
}
