.header {
  height: 50px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .meeting {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
