@use "../themes" as th;
@use "../templates" as *;

.meetings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 50px;
}

.meetings_container {
  max-width: 700px;
  min-width: 300px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.startTime {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.participants {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

/* date */
.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.divider {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
}

.slogan {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 70px;
}

.h2 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 24px;
}

.h3 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.message_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  max-width: 640px;
  width: 100%;
  @include th.themify(th.$themes) {
    background-color: th.themed("accent-second");
  }
}

.link {
  &:hover {
    @include th.themify(th.$themes) {
      color: th.themed("accent");
    }
  }
}

.copy {
  cursor: pointer;
  transition: transform 0.1s ease;

  &:active {
    transform: scale(0.9);
  }
}

.radio_wrapper {
  @extend %radioWrapper;
}
