// _themes.scss

$themes: (
  light: (
    background-color: #ffffff,
    textColor: #000000,
    buttonBg: #ffffff,
    buttonBgHover: #000000,
    buttonTextColor: #000000,
    buttonTextColorHover: #ffffff,
  ),
  dark: (
    background-color: #000000,
    textColor: #ffffff,
    buttonBg: #000000,
    buttonBgHover: #ffffff,
    buttonTextColor: #ffffff,
    buttonTextColorHover: #f0d540,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    :global(.theme-#{$theme}) & {
      $theme-map: $map !global;
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
